.movie-detail{
    max-width: 100%;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin: 100px auto;
}

.video-frame{
    height: 320px;
    width: 480px;
    border-radius: 6px;
}

.movie__year, 
.movie__overview,
.movie__title,
.no__trailer{
    color: #fff;
}

.movie__title{
    font-size: 24px;
    margin: 0 0 10px;
    text-align: center;
}

.movie__year{
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.movie__overview,
.no__trailer{
    line-height: 1.8;
}
.overview__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 350px;
}

@media (max-width: 500) {
    /* .movie-detail{
        width: 400px;
    } */
    .video-frame{
        height: 120px;
        width: 200px;
    }
}