.search {
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 98%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(../../assets/banner.png);
  padding: 20px 8%;
}

.header__wrapper {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__subtitle {
  max-width: 100%;
  margin-top: 24px;
  padding: 24px;
  letter-spacing: 2;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 10px;
  color: #fff;
}

search__wrapper {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.search__btn {
  position: absolute;
  top: 75%;
  right: 1px;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  display: grid;
  place-items: center;
  background: transparent;
  border: 0;
  font-size: 20px;
}

.search__title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.header--search {
  max-width: 100%;
  margin-top: 48px;
  width: 600px;
  padding: 12px 45px 12px 15px;
  border-radius: 50px;
  font-size: 16px;
  border: none;
  outline: none;
  text-align: left;
  position: relative;
}

.search__btn {
  position: absolute;
  color: #6415ff;
}
.icon {
  color: #6415ff;
}

.search__wrapper {
  position: relative;
}
.search__wrapper .icon {
  position: absolute;
  height: 36px;
  width: 36px;
  right: 6px;
  background: none;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  border: none;
}

.search__wrapper .icon:focus {
  outline: none;
}
